<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SmartGarden/backend-api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ routes/$1.php [L]
</IfModule>